*, *::before, 
    *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $ff_r;
    color:map-get($colors , color-1 );
    font-size: $primary-fs;
    line-height: map-get($line-height, primary-lh);
}

img {
    display:block;
    max-width: 100%;
}

 ul{
     list-style: none;
    }